-# encoding: utf-8
%h1
  %img{src: "http://partidopirata.com.ar/wp-content/uploads/2009/11/logo.png"}
  = comuna.nombre
%hr

%h2= comuna.barrios

%p
  Hay #{piratas} pirata/s en tu comuna, #{conclusion}.  Mientras tanto podés
  participar de nuestra
  %a{href: "http://asambleas.partidopirata.com.ar"} asamblea general
