body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.container{ 
  max-width: 400px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

img {
  float: left;
  vertical-align: middle;
  padding-right: 10px;
}

/*
 * De Twitter Bootstrap - Apache 2 License
 */
.flash{padding:8px 35px 8px 14px;margin-bottom:20px;text-shadow:0 1px 0 rgba(255,255,255,0.5);background-color:#fcf8e3;border:1px solid #fbeed5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.flash,.flash h4{color:#c09853}.flash h4{margin:0}.flash .close{position:relative;top:-2px;right:-21px;line-height:20px}.flash-success{color:#468847;background-color:#dff0d8;border-color:#d6e9c6}.flash-success h4{color:#468847}.flash-danger,.error{color:#b94a48;background-color:#f2dede;border-color:#eed3d7}.flash-danger h4,.error h4{color:#b94a48}.flash-info{color:#3a87ad;background-color:#d9edf7;border-color:#bce8f1}.flash-info h4{color:#3a87ad}.flash-block{padding-top:14px;padding-bottom:14px}.flash-block>p,.flash-block>ul{margin-bottom:0}.a
